* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --light-green: #3cb878;
}

@import "fonts.css";

/* @import "animations.css"; */


/******GLOBALS BEGIN ***************/

section h1 {
    font-size: 30px;
    font-family: "Roboto-regular", sans-serif;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 0.8;
}

section h2 {
    font-size: 14px;
    font-family: "Droid-serif bold-italic";
    color: rgb(60, 184, 120);
    font-weight: bold;
    font-style: italic;
    line-height: 1.714;
    margin-top: 5px;
}


/******GLOBALS END ***************/


/**********UPPER BAR BEGIN *********/

a {
    text-decoration: none;
    color: black;
}

div.navigation-bar {
    -webkit-box-shadow: 0px 12px 16px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 12px 16px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 12px 16px -10px rgba(0, 0, 0, 0.38);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: white;
    width: 100%;
}

div.upper-bar {
    background-color: black;
    color: white;
    display: flex;
    padding: 20px 40px;
    justify-items: flex-start;
    font-family: "Roboto-regular", sans-serif;
    font-size: 14px;
}

div.upper-bar div.social-media {
    margin-left: auto;
    font-size: 13pt;
}

div.upper-bar div.social-media>* {
    margin-left: 35px;
}

div.upper-bar .phone>span,
div.upper-bar .email>span {
    padding: 0 25px;
}

div.upper-bar .email {
    border-left: 1px solid #464646;
    padding: 0 40px;
}


/**********UPPER BAR END *********/


/********** LOWER BAR BEGIN **********/

div.lower-bar {
    padding: 40px 70px;
}

div.lower-bar div.shopping-cart {
    display: inline-block;
    position: relative;
}

div.lower-bar div.shopping-cart .cart-item-count {
    position: absolute;
    background-color: var(--light-green);
    border-radius: 50% 50%;
    color: white;
    border: 1px solid transparent;
    padding: 2px;
    top: -8px;
    right: -20px;
    width: 20px;
    text-align: center;
    height: 20px;
}

div.lower-bar a#burger {
    display: none;
}

div.lower-bar {
    font-size: 16px;
    font-family: "Roboto-regular", sans-serif;
    color: black;
    text-transform: uppercase;
    line-height: 0.875;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

div.lower-bar a {
    font-size: 16px;
    font-family: "Roboto-regular", sans-serif;
}

div.lower-bar a:hover {
    color: var(--light-green);
}

div.lower-bar div.dropdown,
div.lower-bar div.language-dd {
    display: inline;
    position: relative;
}

div.lower-bar div.dropdown-content,
div.lower-bar div.language-dd div.dd-content {
    position: absolute;
    left: 0;
    top: 20px;
    background-color: white;
    width: auto;
    padding: 10px;
    -webkit-box-shadow: 0px 17px 43px -26px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 17px 43px -26px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 17px 43px -26px rgba(0, 0, 0, 0.75);
    height: 0;
    overflow: hidden;
    transition: height 700ms ease-in-out;
}

div.lower-bar div.dropdown-content a,
div.lower-bar div.language-dd div.dd-content a {
    display: block;
    margin: 10px 0;
    line-height: 1.125;
    border-top: 1px solid #eeeeee;
    text-transform: capitalize;
    padding: 20px;
    padding-right: 100px;
}

div.lower-bar div.dropdown-content a:first-of-type,
div.lower-bar div.language-dd a:first-of-type {
    border-top: none;
}

div.lower-bar .logo a {
    font-size: 24px;
    color: black;
    font-family: "Roboto-regular", sans-serif;
    justify-self: flex-start;
    font-weight: 500;
}

div.lower-bar .logo a>span {
    color: var(--light-green);
}

div.lower-bar .right-elements {
    margin-left: auto;
    color: #333333;
}

div.lower-bar nav {
    margin: 0 auto;
}

div.lower-bar nav>* {
    margin-left: 15px;
}

div.lower-bar .right-elements>* {
    margin-left: 25px;
}


/********** LOWER BAR END **********/


/********** HEADER BEGIN **********/

header {
    height: 1080px;
    background-image: url("../img/header-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 400px;
    padding-top: 450px;
    animation-name: GrayscaleFadeIn;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}

header .content {
    max-width: 550px;
}

header .content h1 {
    font-size: 45pt;
    font-family: "Roboto-regular", sans-serif;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    animation-play-state: running;
    animation-name: FadeInFromTop;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

header .content h1>span {
    color: var(--light-green);
}

header p {
    font-family: "Poppins-regular", sans-serif;
    font-size: 16px;
    color: rgb(51, 51, 51);
    line-height: 1.5;
    text-align: left;
    font-weight: 700;
    margin: 30px 0;
    animation-name: FadeInFromTop;
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
}

header button {
    background-color: transparent;
    border: 2px solid rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    padding: 12px 8px;
    font-weight: bold;
    font-family: "Poppins-regular", sans-serif;
    font-size: 16px;
    transition: all 450ms ease;
    animation-name: FadeInFromTop;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}

header button:hover {
    background-color: rgb(51, 51, 51);
    color: white;
}


/********** header END **********/


/* Animation classes */

.fadeFromTop {
    animation-name: FadeInFromTop;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}

.fadeFromLeft {
    animation-name: FadeFromLeft;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.fadeFromRight {
    animation-name: FadeFromRight;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}


/********** PROVIDERS BEGIN *************/

section.providers {
    padding: 100px 70px;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

section.providers div.featured-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    opacity: 0;
}

section.providers div.providers-content {
    align-self: center;
}


/*** PRODUCT */

div.product-card {
    max-width: 340px;
    height: 565px;
    background-color: white;
    overflow: hidden;
    -webkit-box-shadow: -3px 5px 17px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -3px 5px 17px -10px rgba(0, 0, 0, 0.75);
    box-shadow: -3px 5px 17px -10px rgba(0, 0, 0, 0.75);
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 350ms ease;
}

div.product-card:hover {
    transform: scale(1.035);
}

div.product-card .image {
    background-image: url("https://www.w3schools.com/css/img_lights.jpg");
    width: 350px;
    height: 450px;
    background-repeat: no-repeat;
}

div.product-card img {
    width: 100%;
    height: auto;
}

div.product-card p {
    margin-top: 10px;
}

div.product-card div.product-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    position: absolute;
    bottom: 0;
}

div.product-card p.title {
    font-size: 14px;
    font-family: "Poppins-regular", sans-serif;
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.714;
    text-align: left;
}

div.product-card p.price {
    font-size: 14px;
    font-family: "Poppins-regular", sans-serif;
    color: #3cb878;
    font-weight: bold;
    line-height: 1.714;
    text-align: left;
}

div.product-buttons {
    position: absolute;
    right: 0;
    top: 30px;
}

div.product-buttons button {
    width: 40px;
    height: 40px;
    background-color: var(--light-green);
    color: white;
    font-size: 1rem;
    border: none;
    display: block;
    margin: 5px 0;
    cursor: pointer;
    transition: all 300ms ease;
    transform: translateX(101%);
}

div.product-buttons .inCart {
    background: #a3a2a1;
}

div.product-buttons button:hover {
    opacity: 0.8;
}


/*************/

section.providers div.providers-content p {
    margin: 35px 0;
    font-size: 14px;
    font-family: "Poppins-semibold", sans-serif;
    font-weight: bold;
    color: rgb(51, 51, 51);
    line-height: 1.714;
}


/********** PROVIDERS END *************/

section.offers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1px;
}

section.offers div {
    background-color: #f5f6f9;
    padding: 50px 0;
    text-align: center;
}

section.offers svg {
    font-size: 40px;
    color: #464646;
    margin-bottom: 30px;
}

section.offers h1 {
    font-family: "Poppins-semibold", sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.9px;
}

section.offers h2 {
    color: #888888;
}


/**** OFFERS END ********************************/


/**** SECTION NEWS BEGIN */

section.news {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 107px 19%;
    grid-column-gap: 30px;
}

section.news .news-container {
    opacity: 0;
}

section.news h1 {
    margin-bottom: 30px;
}

section.news span {
    color: var(--light-green);
}

section.news div.news-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 30px;
    margin: 20px 0;
    transition: all 350ms ease;
    cursor: pointer;
    padding: 10px;
}

section.news div.news-wrapper:hover,
section.news div.news-wrapper:focus {
    -webkit-box-shadow: -3px 5px 17px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -3px 5px 17px -4px rgba(0, 0, 0, 0.75);
    box-shadow: -3px 5px 17px -4px rgba(0, 0, 0, 0.75);
}

section.news div.news-wrapper h1 {
    font-size: 16px;
    font-family: "Poppins-regular", sans-serif;
    color: rgb(67, 67, 67);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5;
    text-align: left;
    position: relative;
}

section.news div.news-wrapper h1::after {
    position: absolute;
    content: "";
    width: 35px;
    height: 2px;
    background: #3cb878;
    bottom: -20px;
    left: 0;
}

section.news div.news-wrapper p {
    margin-top: 40px;
    font-size: 14px;
    font-family: "Lato";
    color: rgb(153, 153, 153);
    line-height: 1.714;
    text-align: left;
}

section.news video {
    width: 570px;
    height: 350px;
}

.video-container {
    opacity: 0;
}


/**** SECTION NEWS END */

section h1 {
    line-height: 1.4;
}


/** SECTION PRODUCT-GRID BEGIN */

section.product-grid .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 40px;
    margin: 70px;
    overflow: hidden;
}

section.product-grid h1,
section.product-grid h2 {
    text-align: center;
}


/** SECTION PRODUCT-GRID END*/


/**SECTION DISCOUNT BEGIN */

section.discount {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section.discount .left {
    background: url("../img/discount-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 65px 75px;
}

section.discount .left h1 {
    font-size: 30px;
    font-family: "Poppins-regular", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1;
    text-align: center;
}

section.discount .right img {
    max-width: 100%;
    height: auto;
}

section.discount .right {
    max-width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}

section.discount .left p {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.857;
    text-align: center;
    margin: 30px 0;
}

section.discount .left input[type="email"] {
    padding: 15px;
    border: none;
    width: 400px;
}

section.discount .left input[type="submit"] {
    background: #3cb878;
    border: none;
    width: 200px;
    color: white;
    padding: 15px 40px;
    text-transform: uppercase;
    cursor: pointer;
}


/**SECTION DISCOUNT END */


/****FOOTER BEGIN */

footer div.upper-footer-bar {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}

footer div.upper-footer-bar div {
    border: 1px solid #eeeeee;
    /* border-top: none; */
}

footer div.upper-footer-bar p {
    text-align: center;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.429;
    padding: 25px 0;
}

footer div.upper-footer-bar div.social-media {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer a:hover {
    color: var(--light-green);
}

footer div.mid-footer-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
    margin: 60px auto;
}

footer div.mid-footer-bar a {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(51, 51, 51);
}

footer div.mid-footer-bar h1 {
    font-size: 16px;
    font-family: "Poppins-regular", sans-serif;
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.25;
    margin-bottom: 40px;
}

footer #email {
    color: var(--light-green);
}

footer div.lower-footer-bar {
    height: 60px;
    background-color: black;
}


/****FOOTER END*/


/*********** RESPONSIVE *******/

@media screen and (max-width: 1600px) {
    section.product-grid .container {
        grid-template-columns: repeat(4, 1fr);
    }
    section.discount {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1480px) {
    section.news {
        grid-template-columns: 1fr;
    }
    div.lower-bar a#burger {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }
    div.right-elements>svg:last-of-type,
    .language-dd svg {
        display: none;
    }
    div.right-elements div.shopping-cart {
        display: inline-block;
    }
    section.providers div.featured-products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    section.providers div.featured-products>* {
        margin-top: 50px;
    }
    nav {
        display: none;
    }
    section.product-grid .container {
        grid-template-columns: repeat(3, 1fr);
    }
    section.providers {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1000px) {
    header {
        padding-left: 200px;
    }
    section.product-grid .container {
        grid-template-columns: 1fr 1fr;
    }
    footer div.upper-footer-bar:last-child {
        display: none;
    }
    footer div.upper-footer-bar {
        grid-template-columns: 3fr 1fr;
    }
}

@media screen and (max-width: 770px) {
    section.discount .left input[type="submit"] {
        width: 125px;
        padding: 14px 0px;
    }
    section.discount .left input[type="email"] {
        width: 256px;
    }
    section.news video {
        width: 95%;
        margin: 0 auto;
        display: block;
    }
    section.discount .right img {
        max-width: 50%;
    }
    section.offers {
        grid-template-columns: repeat(2, 1fr);
    }
    section.news {
        padding: 107px 5%;
    }
    header {
        padding-left: 80px;
    }
    section.product-grid .container {
        justify-items: center;
        grid-template-columns: 1fr;
    }
    footer div.upper-footer-bar div:last-of-type {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    section.discount .left input[type="submit"] {
        width: 95px;
        padding: 17px 0px;
        font-size: 10px;
    }
    section.discount .left input[type="email"] {
        width: 160px;
    }
    div.upper-bar {
        display: none;
    }
    header .content h1 {
        font-size: 20pt;
    }
    footer div.mid-footer-bar {
        grid-template-columns: 1fr;
    }
    div.lower-bar .logo:after {
        content: "";
        display: block;
    }
    header {
        padding-left: 40px;
        padding-top: 370px;
        height: 760px;
    }
    div.product-card {
        height: 400px;
        display: flex;
        align-items: flex-start;
    }
    footer div.upper-footer-bar div.social-media {
        margin: 15px;
    }
}

@media screen and (max-width: 400px) {
    footer div.mid-footer-bar {
        grid-template-columns: 1fr;
    }
    footer div.upper-footer-bar {
        grid-template-columns: 1fr;
    }
    section.offers {
        grid-template-columns: 1fr;
    }
    div.lower-bar .logo a {
        font-size: 15px;
    }
    section.news div.news-wrapper img {
        width: 135px;
    }
    section.discount .left input[type="submit"] {
        width: 160px;
    }
    div.lower-bar {
        padding: 40px 15px;
    }
    header {
        padding-left: 40px;
        padding-top: 370px;
        height: 760px;
    }
}


/**********************************/