@import "../components/navbar/style.css";
@import "./animations.css";

/* Compensate the space from top of navbar */

body {
    padding-top: 165px;
}

.fade {
    animation-name: removeItem;
    animation-duration: 1.4s;
    animation-fill-mode: forwards;
}

section {
    max-width: 1010px;
    margin: 65px auto;
    min-height: 240px;
}

section.cart-section>div {
    display: grid;
}

section.cart-section>.cart-header {
    border-bottom: none;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
}

section.cart-section .cart-header>div {
    border: 1px solid #e5e5e5;
    border-bottom: none;
    border-right: none;
    text-align: center;
    vertical-align: center;
    padding: 25px 0;
}

section.cart-section .cart-header>div:last-of-type {
    border-right: 1px solid #e5e5e5;
}

section.cart-section .cart-item>div {
    border: 1px solid #e5e5e5;
    border-bottom: none;
    border-right: none;
}

section.cart-section .cart-item>div:last-of-type {
    border-right: 1px solid #e5e5e5;
}

.cart-products-container .cart-item:last-of-type>div {
    border-bottom: 1px solid #e5e5e5;
}

section.cart-section .cart-item div.img-container {
    height: 100px;
    width: 80px;
    /* background: black; */
}

section.cart-section .cart-item div.img-container img {
    width: 80px;
    height: auto;
}

section.cart-section .cart-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
}

section.cart-section .cart-item {
    height: 190px;
}

section.cart-section .cart-item div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
}

section.cart-section .cart-item div:first-of-type {
    justify-content: flex-start;
}

section.cart-section .cart-item div:last-of-type {
    justify-content: space-evenly;
}

section.cart-section .cart-item,
section.cart-section .cart-header {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(35, 35, 35);
}

section.cart-section .cart-item .product-name {
    margin: 0 15px;
    font-size: 14px;
    font-family: "Poppins";
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.429;
    text-align: left;
}

section.cart-section .cart-item button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--light-green);
    border: none;
    padding: 15px 25px;
    font-size: 14px;
    font-family: "Myriad Pro";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.429;
    text-align: center;
    cursor: pointer;
}

section.cart-section .cart-item .cart-ops-container i {
    font-size: 20px;
    cursor: pointer;
}


/* FOOTER */

footer div.upper-footer-bar {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}

footer div.upper-footer-bar div {
    border: 1px solid #eeeeee;
    /* border-top: none; */
}

footer div.upper-footer-bar p {
    text-align: center;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.429;
    padding: 25px 0;
}

footer div.upper-footer-bar div.social-media {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer a:hover {
    color: var(--light-green);
}

footer div.mid-footer-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
    margin: 60px auto;
}

footer div.mid-footer-bar a {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(51, 51, 51);
}

footer div.mid-footer-bar h1 {
    font-size: 16px;
    font-family: "Poppins-regular", sans-serif;
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.25;
    margin-bottom: 40px;
}

footer #email {
    color: var(--light-green);
}

footer div.lower-footer-bar {
    height: 60px;
    background-color: black;
}


/****FOOTER END*/


/*********** RESPONSIVE *******/

@media screen and (max-width: 1200px) {
    section {
        max-width: 915px;
    }
}

@media screen and (max-width: 1000px) {
    footer div.upper-footer-bar div:last-of-type {
        display: none;
    }
    footer div.upper-footer-bar {
        grid-template-columns: 1fr;
    }
    footer div.upper-footer-bar div.social-media {
        padding: 1vw;
    }
    section {
        max-width: 730px;
        padding: 30px;
    }
}

@media screen and (max-width: 770px) {
    footer div.upper-footer-bar div:last-of-type {
        display: none;
    }
    section.cart-section .cart-item div {
        padding: 10px;
    }
    section.cart-section .cart-item div {
        padding: 10px;
    }
    section.cart-section .cart-item button {
        padding: 10px;
        font-size: 10px;
    }
}

@media screen and (max-width: 590px) {
    section {
        max-width: 100%;
    }
    section.cart-section .cart-item {
        grid-template-columns: repeat(4, 1fr);
    }
    section.cart-section>.cart-header {
        display: none;
    }
    section.cart-section .cart-item div:last-of-type {
        justify-content: space-evenly;
        flex-direction: column;
    }
    section.cart-section .cart-item div:first-of-type {
        justify-content: space-around;
        flex-direction: column;
    }
    select {
        width: 250px;
    }
    input#postalcode {
        width: 250px;
    }
    div.totals-container {
        width: 265px;
    }
    input#onlinePay {
        margin-left: unset;
    }
    input[type="submit"] {
        width: 17%;
    }
}

@media screen and (max-width: 400px) {
    footer div.mid-footer-bar {
        grid-template-columns: 1fr;
    }
    footer div.upper-footer-bar {
        grid-template-columns: 1fr;
    }
}