<div class="navigation-bar">
    <div class="upper-bar">
        <div class="phone">
            <i class="fas fa-phone"></i>
            <span>+1 123 456 789</span>
        </div>
        <div class="email">
            <i class="fas fa-envelope"></i>
            <span>info@company.com</span>
        </div>
        <div class="social-media">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-invision"></i>
        </div>
    </div>
    <div class="lower-bar">
        <div class="logo">
            <a href=""><span>reno</span>pharma</a>
        </div>
        <nav>
            <a href="#">Acasă</a>
            <a href="#">noutăți</a>
            <a href="#">ajutor</a>
            <a href="#">contacte</a>
            <a href="#">f.a.q</a>
            <div class="dropdown">
                <a href="#">produse</a>
                <div class="dropdown-content">
                    <a href="#">Dental care</a>
                    <a href="#">Ingrijirea pielii</a>
                    <a href="#">Cosmetice</a>
                    <a href="#">Vitamine</a>
                    <a href="#">Echipamente medicale</a>
                    <a href="#">Baby Care</a>
                    <a href="#">Toate produsele...</a>
                </div>
            </div>
            <a href="#">programare online</a>
        </nav>
        <a id="burger" href=""> <i class="fas fa-bars"></i> </a>
        <div class="right-elements">
            <div class="shopping-cart">
                <i class="fas fa-shopping-cart"> </i
        ><span class="cart-item-count">10</span>
      </div>
      <i class="fas fa-search"></i>
                <div class="language-dd">
                    <a href=""><i class="fas fa-bars"></i></a>
                    <div class="dd-content">
                        <a href="#">RO</a>
                        <a href="#">RU</a>
                        <a href="#">EN</a>
                    </div>
                </div>
            </div>
        </div>
    </div>