<footer>
    <div class="upper-footer-bar">
        <div>
            <p>
                Vă asigurăm servicii de calitate, și suport continuu pentru toți cumpărătorii noștri.
            </p>
        </div>
        <div class="social-media">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-invision"></i>
        </div>
        <div>&nbsp;</div>
    </div>
    <div class="mid-footer-bar">
        <div>
            <h1>contul meu</h1>
            <a href="#">Sign in</a>
            <a href="#">Vizualizează coșul</a>
            <a href="#">My Wishlist</a>
            <a href="#">Achitare</a>
        </div>
        <div>
            <h1>ajutor</h1>
            <a href="#">F.A.Q</a>
            <a href="#">Contactează-ne</a>
            <a href="#">Privacy Policy</a>
        </div>
        <div>
            <h1>informație de contact</h1>
            <a href="#"><i class="fas fa-globe-europe"></i> Str. Sarmisegetusa 1010/9</a
      >
      <a href="#"><i class="fas fa-phone-alt"></i> +1 234 56789</a>
            <a href="#" id="email"><i class="fas fa-envelope"></i> mail@domain.com</a>
        </div>
    </div>
    <div class="lower-footer-bar"></div>
</footer>