<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
</head>
<div class="sideNav">
    <div class="logo">
        <a href=""><span>reno</span>pharma</a>
    </div>
    <span class="closebtn" onclick="closeNav()">&times;</span>
    <div class="nav">
        <a href="./index.html">Acasă</a>
        <a href="./news.html">noutăți</a>
        <a href="./contact.html">ajutor</a>
        <a href="./contact.html">contacte</a>
        <div class="dropdown">
            <a href="./products_per_category.html">produse</a>
            <div class="dropdown-content">
                <a href="./products_per_category.html">Dental care</a>
                <a href="./products_per_category.html">Ingrijirea pielii</a>
                <a href="./products_per_category.html">Cosmetice</a>
                <a href="./products_per_category.html">Vitamine</a>
                <a href="./products_per_category.html">Echipamente medicale</a>
                <a href="./products_per_category.html">Baby Care</a>
                <a href="./productList.html">Toate produsele...</a>
            </div>
        </div>
        <a href="./appointmentForm.html">programare online</a>

        <div class="languages">
            <a href="#">RO</a>
            <a href="#">RU</a>
            <a href="#">EN</a>
        </div>
    </div>
</div>